<div class="container">
  <div class="header__top">
    <button class="top__more">
      <img
        src="./assets/icon/more.svg"
        alt="more"
        class="top__more--img icon"
      />
    </button>
    <a href="./" class="top__logo--images">
      <img
        src="./assets/logo/Icon.svg"
        alt="grocerymart"
        class="top__logo--img"
      />
      <strong class="top__logo--brand icon">grocerymart</strong>
    </a>
    <nav class="top__nav">
      <ul class="top__nav--list js-dropdown-list">
        <li class="top__nav--item">
          <a href="#!" class="top__nav--link"
            >Departments
            <img
              src="./assets/icon/arrow.svg"
              alt="Departments"
              class="top__nav--arrow icon"
            />
          </a>
          <div class="dropdown">
            <div class="dropdown__inner">
              <!-- menu -->
              <div class="top-menu">
                <div class="top-menu__main">
                  <!-- top-menu -->
                  <div class="top-menu__top">
                    <div class="top-menu__main--images">
                      <img
                        src="./assets/img/template/menu-1.svg"
                        alt="All Departments"
                        class="top-menu__main--img"
                      />
                      <img
                        src="./assets/img/template/menu-2.svg"
                        alt="All Departments"
                        class="top-menu__main--img"
                      />
                    </div>
                    <div class="top-menu__main--content">
                      <h2 class="top__main--heading">All Departments</h2>
                      <ul class="top__main--list">
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Savings & Featured Shops
                          </a>
                          <!-- SUB-MENU  -->
                          <div class="sub-menu">
                            <div class="sub-menu__column">
                              <div class="top-menu__top">
                                <div class="top-menu__main--images">
                                  <img
                                    src="./assets/img/template/sub-menu-1.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                  <img
                                    src="./assets/img/template/sub-menu-1.1.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                </div>
                                <div class="top-menu__main--content">
                                  <h2 class="top__main--heading">TV & Video</h2>
                                  <ul class="top__main--list">
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Shop all TVs
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        TVs by Size
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Smart TVs
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Streaming
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        TV Mounts & Accessories
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        DVD & Blu-Ray Players
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="top-menu__top">
                                <div class="top-menu__main--images">
                                  <img
                                    src="./assets/img/template/sub-menu-2.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                  <img
                                    src="./assets/img/template/sub-menu-2.1.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                </div>
                                <div class="top-menu__main--content">
                                  <h2 class="top__main--heading">
                                    Wearable Technology
                                  </h2>
                                  <ul class="top__main--list">
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Galaxy Watch
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Apple Watch
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Fitness Trackers
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Virtual Reality
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Headphones
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="sub-menu__column">
                              <div class="top-menu__top">
                                <div class="top-menu__main--images">
                                  <img
                                    src="./assets/img/template/sub-menu-3.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                  <img
                                    src="./assets/img/template/sub-menu-3.1.svg "
                                    alt="All Departments"
                                    class="top-menu__main--img top-menu__main--img--triangle"
                                  />
                                </div>
                                <div class="top-menu__main--content">
                                  <h2 class="top__main--heading">Computers</h2>
                                  <ul class="top__main--list">
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Shop All Computers
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Laptops
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        PC Gaming
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Monitors
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Chromebook
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Printers & Ink
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Shop all TVs
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Computer Accessories
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Desktops
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Tax Software
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Computer Software
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        PC Finder
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="sub-menu__column">
                              <div class="top-menu__top">
                                <div class="top-menu__main--images">
                                  <img
                                    src="./assets/img/template/sub-menu-4.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                  <img
                                    src="./assets/img/template/sub-menu-4.1.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                </div>
                                <div class="top-menu__main--content">
                                  <h2 class="top__main--heading">Savings</h2>
                                  <ul class="top__main--list">
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Tech Savings
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Overstock Savings
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Tech Rollbacks
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="top-menu__top">
                                <div class="top-menu__main--images">
                                  <img
                                    src="./assets/img/template/sub-menu-5.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                  <img
                                    src="./assets/img/template/sub-menu-5.1.svg"
                                    alt="All Departments"
                                    class="top-menu__main--img"
                                  />
                                </div>
                                <div class="top-menu__main--content">
                                  <h2 class="top__main--heading">
                                    Cell Phones
                                  </h2>
                                  <ul class="top__main--list">
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Wireless Deals
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        5G Phones
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Prepaid Phones & Plans
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Refurbished Phones
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        iPhone Accessories
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Cases & Screen Protectors
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Walmart Protection Plan
                                      </a>
                                    </li>
                                    <li class="top__main--item">
                                      <a href="#!" class="top__main--link">
                                        Unlocked Phones
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link"> Electronics </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Clothing, Shoes & Accessories
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Home, Furniture & Appliances
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Toys & Video Games
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Home Improvement
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link"> Baby </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Household Essentials
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Personal Care
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Patio & Garden
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Sports & Outdoors
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link"> Gift Cards </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Auto, Tires and Industrial
                          </a>
                        </li>
                        <li class="top__main--item">
                          <a href="#!" class="top__main--link">
                            Movies, Music & Books
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="top__nav--item">
          <a href="#!" class="top__nav--link"
            >Grocery
            <img
              src="./assets/icon/arrow.svg"
              alt="Departments"
              class="top__nav--arrow icon"
            />
          </a>
        </li>
        <li class="top__nav--item">
          <a href="#!" class="top__nav--link"
            >Beauty
            <img
              src="./assets/icon/arrow.svg"
              alt="Departments"
              class="top__nav--arrow icon"
            />
          </a>
          <div class="dropdown"></div>
        </li>
      </ul>
    </nav>
    <div class="top__act">
      <button class="top__search">
        <img
          src="./assets/icon/search.svg"
          alt="search"
          class="top__search__img icon"
        />
      </button>
      <div class="top__group">
        <button class="top__group--row">
          <img
            src="./assets/icon/love.svg"
            alt=""
            class="top__group--img icon"
          />
          <p class="top__group--text">03</p>
        </button>
        <div class="top__group--column"></div>
        <button class="top__group--row">
          <img
            src="./assets/icon/cart.svg"
            alt=""
            class="top__group--img icon"
          />
          <p class="top__group--text">$65.42</p>
        </button>
      </div>
      <a href="#!" class="top__group--avatar">
        <img src="./assets/img/avatar.jpg" alt="" class="top__group--avt" />
      </a>
    </div>
  </div>
</div>
